$heading-clr: #292929;
$creator-arrow-clr: #616161;
$arrow-border-clr: #333333;
$clr-white: #FFFFFF;
$Fill-clr: linear-gradient(#4693ED 0%, #79C2D2  35.1%,rgba(192, 86, 9, 0.49) 100%);
$arrow-clr: #4693ED;
$creators-clr:#161616;
$search-clr: #999999;
$search-bg-clr:#F4F2F2;
$checkbox-clr:#d9d9d9;
$btn-bg-clr:#3341C1;
$explore-btn-bg-clr: Linear-gradient(#78A3AD 100%,#C05609 49% );
$live-btn-clr: #3EA03B;
$ended-btn-clr: #999EA5;
$view-clr: #006CA2;
$clr-black : #000;
$bar: #AFB091;
$para-clr: #BCB7B7;

